---
layout: layouts/base.njk
title: Articles from Medium
---

<h1>🔰UX Flex</h1>
<p>
  Reducing complexity. Learning from mistakes. Growing with y'all.
</p>

<hr/>

<h2>posts:</h2>
<ul class="listing">

</ul>
